.entry {
    margin: 20px;
    font-size: 30px;
    flex: 0 0 30%;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 15px 5px rgba(70,70,70,0.6);
}

.name {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

.number {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ff6459;
    color: white;
}